*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial;
  margin: 0;
  font-weight: 500;
}

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 110px 1fr;
  background-color: #0F0F0F;
  overflow: scroll;
}