* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial;
  font-weight: 500;
  background-color: #0F0F0F;
  padding: 112px 24px 0 264px;
  margin: 0;
  overflow: scroll;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}