header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  z-index: 3;
  backdrop-filter: blur(48px);
  background-color: #0f0f0fcc;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px 0 23px;
  height: 55px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 0 12px 0;
}

.hamburger-menu-icon {
  width: 26px;
  filter: invert(100%);
  cursor: pointer;
}

.youtube-icon-logo {
  width: 120px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 250px;
  gap: 16px;
  max-width: 655px;
}

.search-bar-container {
  display: flex;
  flex: 1;
}

.search-bar {
  background-color: #0F0F0F;
  flex: 1;
  padding: 0 6px 0 16px;
  font-size: 16px;
  color: white;
  height: 40px;
  width: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0;
  border-color: #303030;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
}

@media (max-width: 890px) {
  .middle-section {
    display: none;
  }
}

@media (min-width: 891px) {
  .right-section .search-bar-btn,
  .right-section .voice-search-btn {
    display: none;
  }
}

.right-section .search-bar-btn,
.right-section .voice-search-btn {
  background-color: transparent;
  border-style: none;
  border-radius: 20px;
  padding: 7.5px 9px;
}

.search-bar-btn {
  background-color: #ffffff1c;
  margin-left: -1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #303030;
  padding: 7.5px 22px;
}

.search-bar-icon {
  width: 20px;
  filter: invert(100%);
}

.voice-search-btn {
  background-color: #ffffff1c;
  border-style: none;
  border-radius: 20px;
  padding: 7.5px 10px;
}

.voice-search-icon {
  width: 20px;
  filter: invert(100%);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.create-btn {
  background-color: #ffffff1c;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  padding: 9px 14px;
  border-style: none;
  border-radius: 24px;
  gap: 6px;
}

.create-icon {
  width: 20px;
  filter: invert(100%);
}

.notification-icon {
  width: 26px;
  filter: invert(100%);
}

.personal-profile-picture {
  width: 32px;
  border: none;
  border-radius: 15px;
}

.header-bottom {
  display: flex;
  position: absolute;
  left: 240px;
  right: 0;
  padding: 0 24px 0 24px;
  height: 55px;
}

.bottom-section {
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.bottom-btn {
  background-color: #ffffff1c;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  height: 30px;
  padding: 0 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}