header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  z-index: 2;
  backdrop-filter: blur(48px);
  background-color: #0f0f0fcc;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px 0 24px;
  height: 55px;
}

.left-section {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding: 12px 0 12px 0;
}

.hamburger-menu-icon {
  margin-left: -1px;
  margin-right: -1px;
  width: 24px;
  filter: invert(100%);
  cursor: pointer;
}

.youtube-icon-logo {
  width: 90px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-left: 40px;
  gap: 16px;
  max-width: 730px;
}

.search-bar-container {
  display: flex;
  flex: 1;
  max-width: 600px;
}

.search-bar {
  background-color: #0F0F0F;
  flex: 1;
  padding: 0 6px 0 16px;
  font-size: 1rem;
  color: white;
  height: 40px;
  width: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0;
  border-color: #303030;
}

.search-bar:focus {
  outline: 1px solid rgb(22, 112, 248);
  outline-offset: -1px;
}

.search-bar::placeholder {
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 400;
}

@media (max-width: 568px) {
  .search-bar-container,
  .voice-search-btn {
    display: none;
  }
}

@media (min-width: 569px) {
  .search-bar-btn-hidden,
  .voice-search-btn-hidden {
    display: none;
  }
}

@media (max-width: 500px) {
  .notification-icon,
  .voice-search-btn-hidden {
    display: none;
  }
  .middle-section {
    margin: 0;
  }
}

.search-bar-btn-hidden,
.voice-search-btn-hidden {
  background-color: transparent;
  border-style: none;
  border-radius: 20px;
  padding: 7.5px 9px;
}

.search-bar-btn {
  background-color: #ffffff1c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #303030;
  padding: 7.5px 22px;
}

.search-bar-icon,
.search-bar-icon-hidden {
  width: 20px;
  filter: invert(100%);
}

.voice-search-btn {
  background-color: #ffffff1c;
  border-style: none;
  border-radius: 20px;
  padding: 7.5px 10px;
}

.voice-search-btn:hover,
.create-btn:hover {
  background-color: #aaaaaa60;
  border-radius: 20px;
  transition: background-color 0.1s;/*move this to js for desired button click release to work*/
}

.voice-search-btn:active,
.create-btn:active {
  background-color: #aaaaaaa1;
  border-radius: 20px;
  transition: background-color 0.1s;
  /*move this to js for desired button click release to work*/
}

.voice-search-btn-hidden:hover,
.search-bar-btn-hidden:hover {
  background-color: #aaaaaa36;
  border-radius: 20px;
  transition: background-color 0.1s;/*move this to js for desired button click release to work*/
}

.voice-search-btn-hidden:active,
.search-bar-btn-hidden:active {
  background-color: #aaaaaa60;
  border-radius: 20px;
  transition: background-color 0.1s;
  /*move this to js for desired button click release to work*/
}

.voice-search-icon,
.voice-search-icon-hidden {
  width: 20px;
  filter: invert(100%);
}

.right-section {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.create-btn {
  background-color: #ffffff1c;
  color: white;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-family: Roboto;
  font-weight: 400;
  padding: 9px 14px;
  border-style: none;
  border-radius: 24px;
  column-gap: 6px;
  cursor: pointer;
}

.create-icon {
  width: 20px;
  filter: invert(100%);
}

.notification-icon {
  width: 26px;
  filter: invert(100%);
  cursor: pointer;
}


.personal-profile-picture {
  width: 32px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  position: absolute;
  left: 240px;
  right: 0;
  padding: 0 24px 0 24px;
  height: 55px;
}

@media (max-width: 1300px) {
  .header-bottom {
    left: 72px;
  }
}

@media (max-width: 790px)  {
  .header-bottom {
    left: 0;
  }
}

@media (max-width: 356px) {
  .left-section {
    column-gap: 2px;
  }
}

@media (max-width: 325px) {
  .right-section {
    column-gap: 2px;
  }
}

.bottom-section {
  display: flex;
  position: relative;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: grab;
}

.bottom-section.active-dragging {
  cursor: grabbing;
}

.scroll-left-bottom-header {
  position: absolute;
  background-color: #0F0F0F;
  left: 12px;
  top: 12px;
  padding: 8px 12px 8px 12px;
  border-radius: 30px;
  border: none;
  z-index: 3;
}

.scroll-right-bottom-header {
  position: absolute;
  background-color: #0F0F0F;
  right: 12px;
  top: 12px;
  padding: 8px 12px 8px 12px;
  border-radius: 30px;
  border: none;
  z-index: 3;
}

.scroll-left-bottom-header p, 
.scroll-right-bottom-header p {
  color: white;
  font-weight: 100;
  font-size: 0.75rem;
  transform: scale(1.5, 3);
}

.scroll-left-bottom-header:hover div,
.scroll-right-bottom-header:hover div {
  position: absolute;
  background-color: #aaaaaa36;
  border: none;
  border-radius: 20px;
  inset: -5px -5px;
  cursor: pointer;
  transition: background-color 0.1s; /*move this to js for desired button click release to work*/
}

.scroll-left-bottom-header:active div,
.scroll-right-bottom-header:active div {
  position: absolute;
  background-color: #aaaaaa65;
  border: none;
  border-radius: 20px;
  inset: -5px -5px;
  transition: background-color 0.1s; /*move this to js for desired button click release to work*/
}

.bottom-btn {
  background-color: #ffffff1c;
  color: white;
  font-size: 0.875rem;
  height: 2rem;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.hamburger-menu-icon,
.notification-icon,
.create-icon,
.voice-search-icon,
.voice-search-icon-hidden,
.search-bar-icon, 
.search-bar-icon-hidden,
.sidebar-sec img {
  user-select: none;
}


/* all js css is below this line */
.js-shrink-aside .header-bottom {
  left: 72px;
}
