main {
  padding: 24px;
}

.video-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 13px;
  row-gap: 26px;
}

@media (max-width: 2000px) {
  .video-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .video-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 560px) {
  .video-grid-container {
    grid-template-columns: 1fr;
  }
}
.video-info-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.thumbnail-row {
  margin-bottom: 10px;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

.profile-picture {
  width: 36px;
  border-radius: 30px;
}
.video-info-text {
  margin-left: 8px;
}

.video-title {
  font-size: 1rem;
  margin: 0 0 6px 0;
  color: white;
}

.video-author, .video-stats {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(170, 170, 170);
}

.video-stats {
  line-height: 1.375rem;
}

